Repository gaticosalas/SOEN341-IG-Clone, pull requests merged in 2021-02, with the labels that each got.

#10 #6 [ADD] Profile Database Schema
  client/.eslintcache
  client/package-lock.json
  models/Profile.js
Labels: P1

#20 #14 Profile Back-end Routes
  client/.eslintcache
  models/Profile.js
  routes/api/profiles.js
Labels: P1, Server

#23 #5 [ADD] User Database Schema
  client/.eslintcache
  models/User.js
Labels: P1, Server

#21 #17 #18 #19 functional components, bootstrap, and redux
  client/.eslintcache
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/actions/alerts.js
  client/src/actions/types.js
  client/src/components/layout/Alert.jsx
  client/src/components/layout/home.jsx
  client/src/containers/layout/Home.js
  client/src/containers/layout/Navbar.js
  client/src/reducers/alert.js
  client/src/reducers/index.js
  client/src/store.js
Labels: Client, P1

#22 #7 [ADD] Post Database Schema
  models/Post.js
Labels: P1, Server

#33 #30 Back-end routes for aws image storing
  client/.eslintcache
  client/src/App.js
  client/src/actions/auth.js
  client/src/actions/types.js
  client/src/reducers/auth.js
  client/src/reducers/index.js
  client/src/utils/setAuthToken.js
  config/default.json
  package-lock.json
  package.json
  routes/api/image-upload.js
  server.js
  services/image-upload.js
Labels: P2, Server

#32 #13 Post Backend CRUD routes
  routes/api/posts.js
Labels: P1, Server

#39 #37 [ADD] Redux files for Posts + small [FIX] to Post database
  client/src/actions/posts.js
  client/src/actions/types.js
  client/src/reducers/index.js
  client/src/reducers/posts.js
  models/Post.js
  routes/api/posts.js
  routes/api/profiles.js
Labels: Client, P2, Server

#35 Register action now also creates user profile
  client/.eslintcache
  client/src/actions/auth.js
  routes/api/profiles.js
Labels: Client, P1

#46 Big fixes to many files + Profile page partially created
  client/.eslintcache
  client/src/App.js
  client/src/components/auth/Login.jsx
  client/src/components/auth/Register.jsx
  client/src/components/layout/Alert.jsx
  client/src/components/layout/Home.jsx
  client/src/components/layout/Login.jsx
  client/src/components/layout/Navbar.jsx
  client/src/components/layout/Register.jsx
  client/src/components/pages/Profile.jsx
  client/src/reducers/auth.js
  routes/api/auth.js
Labels: Client, P2, Server

#48 #47 [FIX] Profile fetch
  client/src/components/pages/Profile.jsx
Labels: Client, P1, bug

#51 #50 dev
  client/.eslintcache
  routes/api/users.js
Labels: Server

#54 #52 dev
  client/public/index.html
  client/src/App.css
  client/src/App.js
  client/src/actions/posts.js
  client/src/components/layout/Navbar.jsx
  client/src/components/pages/CreatePost.jsx
  client/src/components/pages/Profile.jsx
  routes/api/posts.js
Labels: Client, P1

#65 #57 dev
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
  tests/sample.test.js
Labels: P1, Testing
